<h2><center>ASSIGNMENT 1</center></h2>
<h2><center>NAME: DEEP ASHISH JARIWALA</center></h2>
<h2><center>SID: 20909290</center></h2>
<h2><center>Q: CM5</center></h2>

<p>Data cleaning is the process of identifying the incorrect, incomplete, inaccurate, and missing data. It is considered a fundamental part of the machine learning model. Moreover, there will be a high effect on the model's performance metrics without a data cleaning process and can lead to an inefficient model that will yield low accuracy on the test set. For the dataset in the question, I have applied different approaches to deal with NaN values. Furthermore, for the categorical variables, one hot encoding is used for the dataset.</p>

## IRIS DATASET

#### IMPORTING LIBRARIES

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.impute import SimpleImputer

#### IMPORTING THE DATASET AND CHECKING THE DESCRIPTION FOR MISSING VALUES

In [3]:
dataset = pd.read_csv("iris_dataset_missing.csv")
print(dataset.isna().sum())

sepal_length    0
sepal_width     4
petal_length    8
petal_width     0
species         0
dtype: int64

#### REPLACING ALL THE MISSING VALUES WITH MEAN AND REMOVING OUTLIERS.

In [4]:
dataset = pd.read_csv("iris_dataset_missing.csv")
dataset['sepal_length'].fillna(5.858909, inplace = True)
dataset['sepal_width'].fillna(3.059083, inplace = True)
dataset['petal_length'].fillna(3.812370, inplace = True)
dataset['petal_width'].fillna(1.199708, inplace = True)
dataset = dataset[dataset['sepal_width'] >= 1.946010]
dataset.drop(dataset[dataset['sepal_width'] > 4.3].index, inplace = True)
dataset.describe()
dataset.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    103.000000   103.000000    103.000000   103.000000
mean       5.868614     3.056778      3.814610     1.210750
std        0.866055     0.415978      1.739788     0.789955
min        4.344007     2.115481      1.033031    -0.072203
25%        5.182506     2.783261      1.574653     0.324021
50%        5.743375     3.056142      4.092458     1.349398
75%        6.439874     3.237781      5.070242     1.827568
max        7.795561     4.249211      6.768611     2.603123

<p>The dataset consists of 12 NaN values, which could be dropped by many methods but, for the case of the iris dataset, I have opted to replace the missing values with mean. As the dataset has very few rows, dropping the data would lead to an inefficient model. The missing data is replaced by mean using the fillna() method. Moreover, the detected outliners are also removed.</p>

## HEART DISEASE DATASET

#### IMPORTING DATASET

In [5]:
dataset_1 = pd.read_csv("heart_disease_missing.csv")
dataset_1['thal'] = dataset_1['thal'].round()
print(dataset_1.isna().sum())

age          0
sex          0
cp           0
trestbps     7
chol        10
fbs          0
restecg      5
thalach      4
exang        0
oldpeak     12
slope        2
ca           0
thal         1
target       0
dtype: int64

<p>The dataset consists of 41 NaN values, which could be dropped or replaced depending on the type of data. For instance, the categorical variables missing can be dropped and the numeric type of data can be replaced with mean. </p>

#### SEPERATING FEATURES AND LABELS

In [6]:
dataset_features = dataset_1.iloc[:,:-1]
dataset_target = dataset_1.iloc[:, -1].values

#### ONE HOT ENCODING OF CATEGORICAL VARIABLES

In [7]:
a = pd.get_dummies(dataset_features['cp'], prefix = "cp")
b = pd.get_dummies(dataset_features['thal'], prefix = "thal")
c = pd.get_dummies(dataset_features['slope'], prefix = "slope")

frames = [dataset_features, a, b, c]
dataset_features = pd.concat(frames, axis = 1)
dataset_features.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,cp_0,cp_1,cp_2,cp_3,thal_1.0,thal_2.0,thal_3.0,slope_0.0,slope_1.0,slope_2.0
count,212.000000,212.000000,212.000000,205.000000,202.000000,212.000000,207.000000,208.000000,212.000000,200.000000,...,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000,212.000000
mean,54.311321,0.688679,0.957547,131.784610,244.133256,0.132075,0.560386,149.647978,0.344340,1.113106,...,0.476415,0.155660,0.301887,0.066038,0.056604,0.528302,0.410377,0.070755,0.429245,0.490566
std,9.145339,0.464130,1.022537,18.057222,46.444257,0.339374,0.535149,22.076206,0.476277,1.255908,...,0.500626,0.363391,0.460163,0.248936,0.231631,0.500380,0.493066,0.257022,0.496140,0.501094
min,29.000000,0.000000,0.000000,93.944184,126.085811,0.000000,0.000000,88.032613,0.000000,-0.185668,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,0.000000,0.000000,119.968114,211.969594,0.000000,0.000000,135.946808,0.000000,0.050778,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,55.000000,1.000000,1.000000,130.010256,241.467023,0.000000,1.000000,151.939216,0.000000,0.726060,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,61.000000,1.000000,2.000000,139.965470,272.484222,0.000000,1.000000,165.260092,1.000000,1.816733,...,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,77.000000,1.000000,3.000000,192.020200,406.932689,1.000000,2.000000,202.138041,1.000000,6.157114,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### REPLACING NaN VALUES WITH MEAN

In [9]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean = imp_mean.fit(dataset_features)
dataset_features = imp_mean.transform(dataset_features)
print(f"The shape of training data:{dataset_features.shape}")
dataset_features

The shape of training data:(212, 23)

array([[76.,  0.,  2., ...,  0.,  1.,  0.],
       [43.,  0.,  0., ...,  0.,  1.,  0.],
       [47.,  1.,  2., ...,  0.,  0.,  1.],
       ...,
       [54.,  1.,  2., ...,  0.,  0.,  1.],
       [41.,  1.,  2., ...,  0.,  1.,  0.],
       [41.,  0.,  2., ...,  0.,  0.,  1.]])

<p>The missing values for the heart dataset is replaced by the mean of the particular column using the sklearn method SimpleImputer. This method convert the dataframe to a numpy array by replacing the missing values by mean. There are many parameter that can be varyied in SimpleImputer, the table below shows the variation of accuracy on validation set over different measures of central tendancy:</p>
<table>
  <tr>
    <th>Central tendency</th>
    <th>Accuracy</th>
  </tr>
  <tr>
    <td>Mean</td>
    <td>58.13%</td>
  </tr>
    <tr>
    <td>Median</td>
    <td>58.13%</td>
  </tr>
     <tr>
    <td>Most frequent</td>
    <td>60.46%</td>
  </tr>
   <tr>
    <td>constant</td>
    <td>60.46%</td>
  </tr>   
</table>